<style>
body {
  padding-top: 0px;
  padding-bottom: 40px;
  background-color: #eee;
  background: url('http://animalsbirds.com/wp-content/uploads/2016/07/Bird-Chicken-Hat-HD-Wallpapers-free-download.jpg');
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .fo  rm-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>


<body>
  <div class = "container">
    <% if flash.now[:notice] %>
      <div class="alert alert-danger">
        <strong></strong><a href="#" class="alert-link"><%= flash.now[:notice]%></a>
      </div>
    <% end %>
    <%=form_tag "/login", {:class => "form-signin"} do |f| %>


        <h2 class="form-signin-heading">Log In!</h2>
          <label for="user_email" class="sr-only">Email address</label>
          <input type="email" id="user_email" name = "user[email]" class="form-control" placeholder="Email address" required autofocus>

          <label for="user_password" class="sr-only">Password</label>
          <input type="password" id="user_password" name = "user[password]" class="form-control" placeholder="Password" required>


          <button class="btn btn-lg btn-success btn-block" name="commit" type="submit">Log in</button>
      </form>
    <% end %>

  </div>

</body>
