<style>
body {
  padding-top: 0px;
  padding-bottom: 40px;
  background-color: #eee;
  background: url('http://animalli.com/wp-content/uploads/2016/11/dogs-animals-hats-pets-skyscapes-wallpaper-hd-1080p-dog.jpg');
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>

<body>
  <style= "background-image: url('http://mommystylist.com/wp-content/uploads/2011/09/hats-layout.jpg')>
<div class="container">




        <%=form_for @user, :html => {:class => "form-signin"} do |f| %>
          <%= f.hidden_field :user_id, value: session[:id] %>
        <h2 class="form-signin-heading">Sign up!</h2>

        <label for="user_email" class="sr-only">Email address</label>
        <input type="email" id="user_email" name = "user[email]" class="form-control" placeholder="Email address" required autofocus>

        <label for="user_username" class="sr-only">Username</label>
        <input type="text" id="user_email" name = "user[username]" class="form-control" placeholder="Username" required>

        <label for="user_password" class="sr-only">Password</label>
        <input type="password" id="user_password" name = "user[password]" class="form-control" placeholder="Password" required>


        <button class="btn btn-lg btn-primary btn-block" name="commit" type="submit">Sign up</button>

      </form>
      <% end %>

      </div>
      </div>
