<div class = "container">
<div class = "jumbotron">
<h1>Hello, <%= @user.username %>!</h1><br><br>

<% if @user.hats.any? %>
  Here are your hats!
  <br>
    <% @user.hats.each do |hat| %>
      <% if hat.hat_pics.any? %>
        <%= link_to(image_tag(hat.hat_pics.all.sample.avatar.url(:thumb)), hat_path(hat)) %>
      <% else %>
        <h3><%= link_to hat.name, hat_path(hat) %></h3>
      <% end %>
    <% end %>

<% else %>
    <% if @user.id == session[:id] %>
    <h3>You don't have any hats!</h3>
  <% else %>
    <h3>This person has no hats!</h3>
  <% end %>
<% end %>
</div>
</div>
