
<div class="container">
    <h1> Create a Hat! </h1>

  <form>
    <%= form_for @hat do |f| %>

    <div class="form-group row">
      <label for="name" class="col-lg-1 col-form-label">Name</label>
      <div class="col-lg-5">
        <%= f.text_field :name, class: "form-control" %> <br>
      </div>
    </div>



  <%= f.hidden_field :user_id, value: session[:id] %>

  <%= f.submit %>

<% end %>
    </div>
  </div>
</div>
